
<button (click)="onAddRow();">Click</button>
<button (click)="createFood();">API</button>
<ag-grid-angular #agGrid style="width: 600px; height: 400px;" class="ag-fresh"
                 [gridOptions]="gridOptions"
                 [columnDefs]="columnDefs"
                 [rowData]="rowData">
</ag-grid-angular>
<!-- <input type="text" id="country" class="validate filter-input" [(ngModel)]=query (keyup)=filter($event)/> -->
<!-- <p-autoComplete [(ngModel)]=query (completeMethod)="filter($event)"></p-autoComplete> -->
<!-- <div>
    <div *ngIf="filteredList.length > 0">
        <ul *ngFor="let item of filteredList">
            <li >
                <a style="cursor:pointer"  (click)="select(item)">{{item}}</a>
            </li>
        </ul>
    </div>
    </div> -->
<pre [innerHTML]="b"></pre>
<pre [innerHTML]="c"></pre>
<p-autoComplete #autocomplete [(ngModel)]="country" [suggestions]="filteredList" (completeMethod)="filterCountrySingle($event)"  [size]="30"
placeholder="Countries" [minLength]="1" appendTo=body (onSelect)="onAddRow(country)" forceSelection="true" ></p-autoComplete>
<!-- <span style="margin-left:10px">Country: {{country ? country||country : 'none'}}</span> -->